.modalContainer {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.modalBorder {
  margin: 2rem;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 0.5rem;
}
.modalTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.modalButtons {
  margin-top: 1rem;
  text-align: right;
  font-size: 1.2rem;
}

.modalButton {
  margin-left: 2rem;
}